/**报价单1**/
#m-body{max-width: 640px;margin: auto;background: #f0f0f0;min-height: 480px;}
#content{padding:50px 0px;text-align: center;border-bottom: 1px solid #cdcdcd;}
#FomrValidation p{width:100%;height: 40px;line-height: 40px;border-bottom: 1px solid #cdcdcd;background: #fff;font-size: 12px;}
#FomrValidation p label{width:28%;text-indent: 10px;display: inline-block;color:#333;}
#FomrValidation p input.pubic{width:65%;height:38px;line-height: 38px;border: none;font-size: 14px;text-align: right;padding-right: 
10px;}
#FomrValidation p select{width:65%;height:38px;line-height: 38px;border: none;font-size: 14px;background: #fff;color: #B0B0B0;appearance:none;-webkit-appearance:none;background: url(../images/down.png) no-repeat right center transparent; direction: rtl;padding-right: 20px}
#FomrValidation p select option{text-align: left;padding-right: 10px;direction: rtl;}
#FomrValidation p.form1{text-align: center;font-size: 17px;background: #10a8a5;}
#FomrValidation p.form1 a{color: #fff;}

#FomrValidation input.vcode{width:100%;height:38px;line-height: 38px;border: none;font-size: 14px;text-align: center;background: #fff;}

#FomrValidation p.form2{margin-top:10px;text-align: center;}
#FomrValidation p.form2 a{color: #fff;background: #dcdcdc;color: #fff;width: 100px;background: #dcdcdc;display: block;border: none;height: 40px;line-height: 40px;width: 100%;font-size: 17px;}

/**报价单2**/
.Notes{width:96%;font-size: 12px;height: auto;line-height: 20px;padding:2%;background: #fff;}
.Form_content{background: #fff;overflow: hidden;}
#upload_img{margin:10px 0px;overflow: hidden;padding: 0px 1px;box-sizing: border-box;}
#upload_img .u-img{position: relative;width: 32%;float: left;margin: 1px 2px;}
#upload_img img{border:1px solid #C7AAAA;width: 107px;height: 70px;}
#upload_img input{margin-top: 10px;}
#upload_img .up-close{position: absolute;background: url(../images/close.png) no-repeat;right: 0;top: 0;height: 15px;width: 15px;}

.form2_liu{margin-top:10px;text-align: center;}
.form2_liu a{color: #fff;background: #dcdcdc;color: #fff;width: 100px;background: #dcdcdc;display: inline-block;border: none;height: 40px;line-height: 40px;width: 45%;padding: 0% 2%;font-size: 17px;}
.upload_btn{position: relative;margin-bottom: 20px;}
.add_img{display: inline-block;width: 50%;height: 40px;font-size: 15px;text-align: center;background: #D42121;color: #fff;line-height: 40px;border-radius: 5px;margin: 0% 25%;}
#upimg{position: absolute;z-index: 999;opacity: 0;color: #fff;width: 50%;top: 0px;height: 40px;line-height: 40px;margin: 0% 25%;}


/**报价单3**/
.Form_content1{width:80%;text-align: center;line-height: 35px;margin: 30px auto;}
.quotation2_foot{margin-top:10px;text-align: center;}
.quotation2_foot a{color: #fff;width: 100px;background: #dcdcdc;display: block;border: none;height: 40px;line-height: 40px;width: 100%;font-size: 17px;}
.quotation2_foot a.continue{background: #dcdcdc;color: #fff;}
.quotation2_foot a.return{background: #fff;color: #333;}





















